/**
**
** Base Styles
**
**/

* {
	box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;

}

body {
    padding: 0;
    margin: 0;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-family: $fntPrimary;
    color: $clrBlack;
    font-size: 12px;
    line-height: 1.4 !important;
}

a {
    text-decoration: none;
}

h1, h2, h3,h4, h5 {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placehold {
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0;
    vertical-align: baseline !important;
}

input, textarea {
	background: #fff;
	outline: none;
	resize: none;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	width: 100%;
	display: block;
}

input,
textarea {
    border: none;
	&:focus, &:hover{
	}
}

button {
    border: none;
    text-align: center;
}
