/**
**
** Variables
**
**/

/*
*	Colors
*/

$clrWhite: #FFF;
$clrBlack: #000;

$clrPrimaryBlue: #0dbbb4;
$clrPrimaryYellow: #E51972;
$clrPrimaryPink: #E61874;

$clrBgGrey: #f1f0f0;
$clrDarkGrey: #818285;

/*
*	Font
*/;

$fntPrimary: roboto, sans-serif;
/*
*	Misc.
*/
