.user-menu-wrapper {
  height: 3rem;
  background: #2CA4E1;
  margin-bottom: 1rem;
  .user-menu-container {
    .user-menu-row {

    }
  }
}
.page-title-wrapper {
  margin: 2rem 0;
  .page-title-container {
    .page-title-row {

    }
  }
}
