.three-wide-wrapper {
  background-color: #232930;
  margin: 1rem 0;
  .three-wide-container {
    .three-wide-row {
      .three-wide-item {
        .three-wide-item-row {
          margin-top: 2rem;
          margin-bottom: 2rem;
          .tw-match-row {
            background-color: white;
            .three-wide-image {
              margin-left: 0;
              height: 5rem;
            }
            .three-wide-content {
              margin-top: 1.3rem;
              margin-bottom: 1rem;
              padding-left: 1rem;
              padding-right: 0;
              h3, p {
                color: black;
              }
            }
          }
        }
      }
    }
  }
}
