.multislide-wrapper {
  margin-bottom: 1rem;
  .multislide-container {
    .multislide-row {
      .left-multislider {
        .slick-arrow {
          z-index: 200;
          &::before {
            color: #090302;
            font-size: 30px;
          }
        }
        .slick-prev {
          left: 0;
        }
        .slick-next {
          right: .75rem;
        }
        .slick-dots {
          bottom: 0;
          li {
            button {
              &::before {
                font-size: 15px;
                color: black;
                opacity: .3;
              }
            }
          }
          .slick-active {
            button {
              &::before {
                font-size: 18px;
                color: black;
                opacity: 1;
              }
            }
          }
        }
        .leftslide {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          min-height: 26rem;
        }

        .right-multislider {
          .rightslide {
            padding-top: 7rem;
            .slide-header {
              padding-bottom: 1rem;
            }
            .slide-content {
              line-height: 24px;
            }
            .slide-link {
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }
}
