.nands-wraper {
  .nands-container {
    .nands-row {
      .news {
        h2 {
          padding-bottom: 1rem;
        }
        .news-item {
          margin-bottom: 1rem;
          .post-thumbnail {
            max-height: 5rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
          .post-conten {

          }
        }
      }
      .sidebar {

      }
    }
  }
}
